
/* Sticky footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* custom style */

footer ul li a,
footer ul li span {
    vertical-align: top;
}

footer ul li {
    margin-top: 0.5em;
}

.card-date {
    color: #bdbdbd;
}

.artile-title,
.artile-content {
    color: #616161;
}

code {
    background-color: #eeeeee;
}

article ol:not(.browser-default) li {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

article ul:not(.browser-default) li {
    list-style-type: disc;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}