/* Custom CSS */

body {
    margin: 0;
    word-break: break-word;
    text-align: justify;
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 1rem 0 1rem;
}

main,
#disqus_thread {
    width: 100%;
    margin: 0 auto;
    max-width: 48rem;
}

header,
footer {
    /* text-align: center; */
    padding: 2rem;
    margin: 0 -1rem 0 -1rem;
    color: #ffffff;
    background-color: #EF6C00;
}

header a,
footer a,
header a:hover,
footer a:hover,
header a:focus,
footer a:focus,
header a:active,
footer a:active {
    color: #ffffff;
}


/* Sticky footer */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* Markdown CSS
 * modified version
 * http://markdowncss.github.io/modest/
 */

pre,
code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

a {
    color: #3498db;
}

a:hover,
a:focus,
a:active {
    color: #2980b9;
}

html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

body {
    line-height: 1.85;
}

p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

h1,
h2,
h3,
h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

h1 {
    margin-top: 0;
    font-size: 3.998rem;
}

h2 {
    font-size: 2.827rem;
}

h3 {
    font-size: 1.999rem;
}

h4 {
    font-size: 1.414rem;
}

h5 {
    font-size: 1.121rem;
}

h6 {
    font-size: .88rem;
}

small {
    font-size: .707em;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);
html {
    font-size: 18px;
    max-width: 100%;
}

main {
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    line-height: 1.45;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arimo, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    border-bottom: 2px solid #fafafa;
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
    text-align: center;
}

blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
}

pre,
code {
    background-color: #eee;
}